body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 4;
    border: 5px solid black;
    border-radius: 5px;
    margin-top: 10px;
}

.pad{
    border: 1px solid red;
}

.pad:hover{
    background-color: black;
}

.pad-back{
    background-color: black;
}


button{
    padding: 10px;
}

.pad-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}